html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
 
}

.container{
  margin: auto;
  width: 800px;
  text-align: center;
  padding: 30px;
  background-color: blue;
  color: white;
}
.dream-title{
  width: 500px;
  padding: 5px;
}
.dream-text{
  margin-top: 2%;
  width: 500px;
  padding: 5px;
}
.dream-feelings{
  text-align: center;
}
.dream-feelings input{
  margin: 0px;
}
.dream-feelings label{
  margin: 0px 20px 0px 3px;
}

button{
  margin-top: 20px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  font-size: 1.2rem;
}




