@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@500;600&display=swap');

*, html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
 
}

.dream-title{
  width: 500px;
  padding: 5px;
}
.dream-text{
  margin-top: 2%;
  width: 500px;
  padding: 5px;
}


button{
  display: block;
  margin: 30px auto;
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: #5b3e7c;
  font-size: 1.2rem;
}






